language: ruby

branches:
  only:
    - master

sudo: required
services:
  - docker

install:
  - curl -L https://www.chef.io/chef/install.sh | sudo bash -s -- -P chefdk -c current
  - chef exec bundle install --without=development

before_script:
  - cp .kitchen.travis.yml .kitchen.local.yml

script:
  - chef exec rake && chef exec kitchen test
